USE [master]
GO
/****** Object:  StoredProcedure [dbo].[Usp_service_Installed]    Script Date: 07/01/2020 13:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE TABLE [dbo].[ServicesServiceStatus](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[ServerName] [nvarchar](128) NULL,
	[ServiceName] [nvarchar](128) NULL,
	[ServiceStatus] [varchar](128) NULL,
	[StatusDateTime] [datetime] NULL,
	[PhysicalSrverName] [nvarchar](128) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ServicesServiceStatus] ADD  DEFAULT (getdate()) FOR [StatusDateTime]
GO
*/
ALTER PROC [dbo].[Usp_service_Installed]
AS
BEGIN
-- SELECT * FROM SERVICESSERVICESTATUS
TRUNCATE TABLE SERVICESSERVICESTATUS

SET NOCOUNT ON

IF (OBJECT_ID ('MASTER.DBO.#REGRESULT')) IS NOT NULL

DROP TABLE #REGRESULT

CREATE TABLE #REGRESULT (RESULTVALUE NVARCHAR(4)) --1

IF (OBJECT_ID ('MASTER.DBO.SERVICESSERVICESTATUS')) IS NOT NULL


IF (OBJECT_ID ('MASTER.DBO.#SERVICES')) IS NOT NULL

DROP TABLE #SERVICES -- 3

CREATE TABLE #SERVICES(ROWID INT IDENTITY(1,1),SERVICENAME NVARCHAR(128),DEFAULTINSTANCE NVARCHAR(128),NAMEDINSTANCE NVARCHAR(128))

INSERT INTO #SERVICES VALUES ('MS SQL SERVER SERVICE','MSSQLSERVER','MSSQL')
INSERT INTO #SERVICES VALUES('SQL SERVER AGENT SERVICE','SQLSERVERAGENT','SQLAGENT')
INSERT INTO #SERVICES VALUES('ANALYSIS SERVICES','MSSQLSERVEROLAPSERVICE','MSOLAP')

--select * from #SERVICES
/* 

MSDTSSERVER100 FOR SQL SQL2005 -- MsDtsServer
MSDTSSERVER100 FOR SQL 2008 --
MSDTSSERVER100 FOR SQL 2008R2 --  MsDtsServer100
MSDTSSERVER100 FOR SQL SQL2012 -- MsDtsServer110
MSDTSSERVER100 FOR SQL SQL2014 -- MsDtsServer120
MSDTSSERVER100 FOR SQL SQL2016 -- MsDtsServer130
MSDTSSERVER100 FOR SQL SQL2017 -- MsDtsServer140
MSDTSSERVER100 FOR SQL SQL2019 -- MsDtsServer150

*/


DECLARE @CHKINSTANCENAME NVARCHAR(128) 
DECLARE @CHKSRVNAME NVARCHAR(128)
DECLARE @REGKEY NVARCHAR(128) 
DECLARE @I INT
DECLARE @SERVICE NVARCHAR(128)

Set @I =1
SET @CHKSRVNAME = CAST(SERVERPROPERTY('INSTANCENAME') AS VARCHAR(128))


WHILE (@I<=(SELECT MAX(ROWID) FROM #SERVICES))

BEGIN

IF (@CHKSRVNAME IS NULL OR (SELECT COUNT(*) FROM #SERVICES WHERE SERVICENAME IN ('SQL BROWSER SERVICE - INSTANCE INDEPENDENT','SSIS')AND ROWID=@I)>0)

SELECT @SERVICE= DEFAULTINSTANCE FROM #SERVICES WHERE ROWID=@I

ELSE

SELECT @SERVICE= NAMEDINSTANCE+'$'+CAST(SERVERPROPERTY('INSTANCENAME') AS VARCHAR(128)) FROM #SERVICES WHERE ROWID=@I

SET @REGKEY = 'SYSTEM\CURRENTCONTROLSET\SERVICES\'+@SERVICE

INSERT #REGRESULT ( RESULTVALUE ) EXEC MASTER.SYS.XP_REGREAD @ROOTKEY='HKEY_LOCAL_MACHINE', @KEY= @REGKEY

--PRINT @REGKEY

IF (SELECT RESULTVALUE FROM #REGRESULT) = 1

BEGIN

INSERT INTO SERVICESSERVICESTATUS (SERVICESTATUS) /*DETECTING STAUS OF SQL SEVER SERVICE*/

EXEC XP_SERVICECONTROL N'QUERYSTATE',@SERVICE
/*


--See below example to check the status of SQL Services
EXEC xp_servicecontrol N'querystate',N'MSSQLServer'
EXEC xp_servicecontrol N'querystate',N'SQLServerAGENT'
EXEC xp_servicecontrol N'querystate',N'msdtc'
EXEC xp_servicecontrol N'querystate',N'sqlbrowser'
EXEC xp_servicecontrol N'querystate',N'MSSQLServerOLAPService'
EXEC xp_servicecontrol N'querystate',N'ReportServer'
EXEC xp_servicecontrol N'querystate',N'MsDtsServer130'

--See below example to start/stop service using SSMS
--EXEC xp_servicecontrol N'stop',N'SQLServerAGENT'
--EXEC xp_servicecontrol N'start',N'SQLServerAGENT'
--See below example to check non-SQL Service
--EXEC xp_servicecontrol querystate, DHCPServer

*/
END

ELSE

BEGIN

INSERT INTO SERVICESSERVICESTATUS (SERVICESTATUS) VALUES ('NOT INSTALLED')

END

UPDATE SERVICESSERVICESTATUS SET SERVICENAME = (SELECT SERVICENAME FROM #SERVICES WHERE ROWID=@I),SERVERNAME=@@SERVERNAME , PHYSICALSRVERNAME=(SELECT CAST(SERVERPROPERTY('COMPUTERNAMEPHYSICALNETBIOS')AS VARCHAR(128))) WHERE ROWID = @@IDENTITY

TRUNCATE TABLE #REGRESULT

SET @I=@I+1;

END


--SELECT *FROM SERVICESSERVICESTATUS

END


